.content{
	
	/*padding: 30px;*/
	border:2px solid #99DBB4;
}


#resultado{
	text-align: center;
    /*margin: 10px auto 10px auto; */
	vertical-align: middle;
	font-family: 'Montserrat', sans-serif;
	/*display: none; */
}

#resultado span{

	padding: 5px;
}



#top img{
	float: right;
	max-width: 25%;
	min-width: 20%;
	max-height: 25%;
	min-height: 20%;
}

.valor{
	color:#99DBB4;
	text-align: center;
	font-size: 500%;
}

body{
/*	border-bottom: 1px solid #99DBB4;*/
	background-image: url("../images/ffff.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px;
}

#title{
	font-size: 300%;
	font-family: 'Montserrat', sans-serif;
	background-color:#99DBB4; 
	padding: 8px 0 8px 0;
	color: white;
	padding-left: 5%;
}

#title span{

	color:black;
	font-size: 50%;
	/*padding-bottom: 5px;*/
	/*vertical-align: center;*/

}

#content{
	background-color: #E6E7E8;
	height: 100%;
	opacity: 0.90;
  	filter: alpha(opacity=90);
}

#form{
	margin: 0px;
	padding-top: 80px;
	
}

#fullname{
	background-color:#99DBB4; 
	text-align: center;
	
}
#firstname, #lastName, #PeriodicPremiumIncrement, #PeriodicPremium, #Indexation{
	display: none;
}



#form input{
	margin:0px;
	background-color: #373B44;
	color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;

}

.form-group{
	margin-top: 5px;
}

.form-group img{
    margin-left: 35%;
    margin-right: 35%;
    max-height: 180px;
	margin-bottom: 5px;
}


#top + div.row{
	margin-top: 0%;
	padding-top: 0px;
}

.drop{
	min-width: 80%;
	width: 100%;	
	background-color: #373B44;
	border-radius: 5px;
	color: white;
	font-size: 20px;
}

#InitialPremium{
	min-height: 6%;
}

.btn-submit{
	background-color: #99DBB4 !important;
}

#nome, #sobrenome{
	display: none;
}

/*.styleArrow select {
  background: transparent;
  width: 168px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  color: #000;
}

.styleArrow {
  width: 140px;
  height: 34px;
  overflow: hidden;
  background: url("images/arrow.png") no-repeat right #fff;

}*/


